@model AdminPanel.Models.Entity.insto_instas

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Sil</h2>

<h3>Kaydı Silmek İstediğinize Emin Misiniz?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.realUser)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.realUser)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.image)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.image)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.filters)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.filters)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.time)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.insto_accounts.forename)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.insto_accounts.forename)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Sil" class="btn btn-default" /> |
            @Html.ActionLink("Geri Dön", "Index")
        </div>
    }
</div>
