@model AdminPanel.Models.Entity.vehicles

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detaylar</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.category)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.inshop)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.inshop)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imglink)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.imglink)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Düzenle", "Edit", new { id = Model.model }) |
    @Html.ActionLink("Geri Dön", "Index")
</p>
